.InfoTable {
    background-color: #fff;
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 2rem;
    max-width: 1000px; 
    width: 85%;
    z-index: 10;
}

.InfoTable-item {
    text-align: center;
    margin: 1rem 3rem;
}

.InfoTable-item__title {
    color: #777;
    font-size: 1.3rem;
    font-variant: small-caps;
    margin-bottom: .3rem;
}

.InfoTable-item__description {
    font-size: 1.6rem;
}