.SearchBar {
    padding: 0 2rem;
    position: relative;
    max-width: 800px;
    width: 100%;
}

.SearchBar__input {
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
    padding-left: 1.5rem;
    width: 100%;
    height: 4rem;
    outline: none;
    margin: 0 auto 2rem auto;
}

.btn {
    position: absolute;
    right: 0;
    background-color: #000;
    border: none;
    border-radius: 0 1rem 1rem 0;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    cursor: pointer;
    outline: none;
}

.btn svg {
    display: block;
    vertical-align: middle;
    margin: auto;
}

.SearchBar__error {
    color: #FE5F55;
    position: absolute;
    bottom: .5rem;
    left: 3rem;
}